.honour-content{
    /*width: 600px;*/
    margin: 0 auto;
}
.honour-item{
    margin-top:15px;
    width: 400px;
}
.honour-item:hover{
    cursor: pointer; 
    color: aquamarine;
}
h3{
    font-size: 23px;
    color: rgb(22, 136, 156);
}